xml/menuRestauranteSchema.xml

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="restaurante">
        <xs:element name="menu">
            <xs:complexType>
                <xs:sequence>
                    <xs:element name="titulo" type="xs:string"/>
                    <xs:element name="entrante" type="xs:string"/>
                    <xs:element name="ingredientes" type="xs:string"/>
                    <xs:element name="principal" type="xs:string"/>
                    <xs:element name="postre" type="xs:string"/>
                    <xs:element name="precio" type="xs:integer"/>
                </xs:sequence>
            </xs:complexType>
        </xs:element>
    </xs:element>
</xs:schema>