xml/STORY7_schema_equipos.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="campeonato">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="titulo"/>
        <xs:element type="xs:string" name="autor"/>
        <xs:element type="xs:string" name="descripcion"/>
        <xs:element name="equipo" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Agrupo los jugadores por comodidad ya que el archivo se estaba haciendo demasiado largo</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nombre"/>
              <xs:element type="xs:byte" name="posicion"/>
              <xs:element name="jugador" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="nombre"/>
                    <xs:element type="xs:byte" name="edad"/>
                    <xs:element type="xs:string" name="sueldo"/>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="tipo" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="categoria" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>