xml/STORY10_equipos_schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="campeonato">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string" />
        <xs:element name="autor" type="xs:string" />
        <xs:element name="descripcion" type="xs:string" />
        <xs:element maxOccurs="unbounded" name="equipo">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre" type="xs:string" />
              <xs:element name="posicion" type="xs:unsignedByte" />
              <xs:element maxOccurs="unbounded" name="jugador">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre" type="xs:string" />
                    <xs:element name="edad" type="xs:unsignedByte" />
                    <xs:element name="sueldo" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="tipo" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="categoria" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>